.page__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page__title {
  font-size: 3rem;
  font-weight: 700;
}

.page__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 40px 0;
}
